
 <h3>A few step and <%= @beast.race %> will be your new BFF !</h3>

 <%= simple_form_for [@beast, @booking] do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.submit class: "btn btn-flat text-white" %>
 <% end %>
