
<div class='container text-white mt-5'>
  <%= simple_form_for @beast do |f| %>
    <%= f.input :name, label: 'The pet name :' %>
    <%= f.input :race, label: 'The race of your beast ðŸ¦„', error: 'Please specify oneðŸ”‘' %>
    <%= f.input :danger_gauge, hint: '../10 ðŸ†', collection: (1..10).to_a %>
    <%= f.input :description, label: 'Describe the beastðŸ’¡' %>
    <%= f.input :tags, collection: Beast::TAGS, input_html: { multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: true, plugins: ['remove_button']}}} %>
    <%= f.input :address,
    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
    %>
    <%= f.input :price_per_day, label: 'Price per Day ðŸ’¸' %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class:"btn btn-primary"%>
  <% end %>

  <%= link_to "homepage", root_path, class: "btn btn-secondary mt-5" %>
  <%= link_to "view beasts", beasts_path, class: "btn btn-secondary mt-5" %>
</div>

<%# label: false, label: "Address ðŸš— :", placeholder: "ex: 16 villa gaudelet" %>
