  <div class="card-product">

    <div class="beasts-photos">
      <div class="main-photo">
      <% @beast.photos.each do |photo| %>
        <%= cl_image_tag photo.key%>
      <% end %>
      </div>

      <div class="carroussel-photos">
      </div>
    </div>

    <div class= "flex-box-de-show-beast">
      <div class="card-product-infos">
        <h1 class= "text-white"><%= @beast.name %></h1>
        <h2 class= "text-white"><%= @beast.race %></h2>
      </div>

      <div class= "container-card-beast">
      <h3><% @beast.tags.each do |tag| %>
       <%= tag == @beast.tags.last ? tag : "#{tag} /" %>
      <% end %></h3>
      <p>Description : <%= @beast.description %></p>
    </div>
  </div>
</div>

<% if policy(@beast).edit? %>
  <%= link_to "Edit this beast", edit_beast_path(@beast) %> |
<% end %>
<%= button_to "Destroy this beast", @beast, method: :delete if policy(@beast).destroy? %>


<% if current_user != @beast.user %>
  <%= render 'bookings/form', booking: @booking %>
<% end %>
