<h1 class= "text-white">Ur Beasts</h1>

<% if policy(@beast).edit? %>
  <%= link_to "Edit this beast", edit_beast_path(@beast) %> |
<% end %>
<%= button_to "Destroy this beast", @beast, method: :delete if policy(@beast).destroy? %>

<div class="container">
<% @beast.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
</div>

<%= link_to "homepage", root_path%>
<%= link_to "view beasts", beasts_path%>
<%= link_to "Dasboard", dashboard_path%>

<%= link_to "Book a Beast",  new_beast_booking_path(@beast), class: "btn btn-secondary"  %>
